@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

*[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Oooh Baby", cursive;
}

.background {
  height: 250px;
  width: 300px;
  position: relative;
  overflow: hidden;
  border: 1px solid #333;
}

.start {
  position: absolute;
  height: 250px;
  width: 300px;
  top: 0;
  left: 0;
  z-index: 20;
}

.food {
  position: absolute;
  height: 250px;
  width: 300px;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  width: 30%;
  left: 0;
  top: 40px;
  z-index: 10;
}

.pasta {
  position: absolute;
  width: 80%;
  left: 80px;
  top: 250px;
  z-index: 10;
}

.pasta_sauce {
  position: absolute;
  width: 60%;
  left: 0px;
  top: -20px;
  z-index: 5;
}

.text1 {
  position: absolute;
  top: 108px;
  left: 55px;
  font-size: 1.9rem;
  color: orange;
}

.soup {
  position: absolute;
  width: 80%;
  left: 95px;
  top: -225px;
  z-index: 10;
}

.soup_sauce {
  position: absolute;
  width: 60%;
  right: 0px;
  top: 0px;
  z-index: 5;
}

.text1 {
  position: absolute;
  top: 108px;
  left: 28px;
  font-size: 2.1rem;
  color: white;
}

.text2 {
  position: absolute;
  top: 104px;
  left: 26px;
  font-size: 1.7rem;
  color: white;
}

/* Button code */

.btn {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  z-index: 100;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 15px;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#pause {
  left: 10px;
  top: 260px;
}
