@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lobster", cursive;
  font-weight: normal;
}

.container {
  height: 250px;
  width: 300px;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 1330px;
  z-index: 0;
}

.end_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 300px;
  z-index: 0;
  opacity: 0;
}

h1 {
  position: absolute;
  top: 61px;
  left: 23px;
  font-size: 2rem;
  line-height: 1.9rem;
  letter-spacing: 0.1rem;
  z-index: 100;
  color: red;
  font-weight: normal;
}

.grass {
  position: absolute;
  top: 0px;
  left: -20px;
  height: 250px;
  width: 1490px;
  z-index: 15;
}

.flowers {
  position: absolute;
  top: 0px;
  left: -20px;
  height: 250px;
  width: 1490px;
  z-index: 10;
}

.one {
  position: absolute;
  bottom: 0px;
  left: 130px;
  width: 25%;
  z-index: 5;
}

.two {
  position: absolute;
  bottom: 10px;
  left: 231px;
  width: 27%;
  z-index: 5;
}

.quote1 {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 27%;
  z-index: 10;
  opacity: 0;
}

.three {
  position: absolute;
  bottom: 10px;
  left: 331px;
  width: 27%;
  z-index: 5;
}

.four {
  position: absolute;
  bottom: 15px;
  left: 415px;
  width: 32%;
  z-index: 5;
}

.five {
  position: absolute;
  bottom: 15px;
  left: 515px;
  width: 32%;
  z-index: 5;
}

.quote2 {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 27%;
  z-index: 10;
  opacity: 0;
}

.six {
  position: absolute;
  bottom: 15px;
  left: 625px;
  width: 27%;
  z-index: 5;
}

.seven {
  position: absolute;
  bottom: 15px;
  left: 720px;
  width: 31%;
  z-index: 5;
}

.eight {
  position: absolute;
  bottom: 10px;
  left: 825px;
  width: 26%;
  z-index: 5;
}

.quote3 {
  position: absolute;
  top: 8px;
  left: 120px;
  width: 27%;
  z-index: 10;
  opacity: 0;
}

.nine {
  position: absolute;
  bottom: 10px;
  left: 925px;
  width: 26%;
  z-index: 5;
}

.ten {
  position: absolute;
  bottom: 10px;
  left: 1025px;
  width: 30%;
  z-index: 5;
}

.eleven {
  position: absolute;
  bottom: 10px;
  left: 1125px;
  width: 30%;
  z-index: 5;
}

.quote4 {
  position: absolute;
  top: 20px;
  left: 160px;
  width: 27%;
  z-index: 10;
  opacity: 0;
}

.twelve {
  position: absolute;
  bottom: 10px;
  left: 1225px;
  width: 24%;
  z-index: 5;
}

.end {
  position: absolute;
  top: 23px;
  left: 120px;
  width: 23%;
  z-index: 10;
  opacity: 0;
}

h2 {
  position: absolute;
  top: 70px;
  left: 29px;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  z-index: 100;
  color: #ff8080;
  opacity: 0;
  font-weight: normal;
}
/* Button code */

.btn {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  z-index: 100;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 15px;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#pause {
  left: 10px;
  top: 260px;
}
