@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");

*[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.background {
  height: 250px;
  width: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  height: 250px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.bars {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 250px;
  width: 60px;
  top: 0;
  position: absolute;
}

.web {
  font-size: 2rem;
  z-index: 100;
}

.web1 {
  position: absolute;
  top: 90px;
  left: 39px;
  color: white;
}

.web2 {
  position: absolute;
  top: 120px;
  left: 110px;
  color: white;
}

.video {
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  position: absolute;
}

p {
  letter-spacing: 0.2rem;
}

.bar1 {
  left: 0;
}

.bar2 {
  left: 60px;
}

.bar3 {
  left: 120px;
}

.bar4 {
  left: 180px;
}

.bar5 {
  left: 240px;
}

.contact {
  position: absolute;
  letter-spacing: 0.1rem;
  z-index: 10;
}

.name {
  top: 70px;
  left: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.telephone {
  top: 105px;
  left: 20px;
  font-size: 0.9rem;
  opacity: 0;
  color: #ffffff !important;
  font-weight: 500;
}

span {
  color: #ffffff !important;
  text-decoration: none;
}

.portfolio {
  top: 127px;
  left: 20px;
  font-size: 0.9rem;
  opacity: 0;
  font-weight: 500;
}

.anim {
  top: 150px;
  left: 20px;
  font-size: 0.9rem;
  opacity: 0;
  font-weight: 500;
}

/* Button code */

.btn {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  z-index: 100;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 15px;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#pause {
  left: 10px;
  top: 260px;
}
