@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.cookie_container {
  background: linear-gradient(260deg, #9b6509 0%, #4f2626 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  width: 22rem;
  height: 10rem;
  border-radius: 1.2rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.text {
  width: 70%;
}

.cookie {
  padding-right: 2rem;
  opacity: 0;
  overflow: visible;
}

.cookie_title {
  font-size: 1.2rem;
  font-weight: 300;
}

.cookie_subtitle {
  font-size: 0.7rem;
  font-weight: 400;
}

button {
  font-family: "Poppins", sans-serif;
  border-style: none;
  border: none;
  padding: 0.5rem 0.4rem;
  color: #4f2626;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 0.3rem;
  margin-top: 10px;
}
