html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  height: 250px;
  width: 300px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(230, 230, 230);
}

.start {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  z-index: 50;
}

.start_text {
  z-index: 100;
  color: red;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  top: 70px;
  left: 75px;
  font-family: "Shadows Into Light Two", cursive;
  position: absolute;
  text-rendering: optimizeLegibility;
}

.background {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  border: 1px solid rgb(230, 230, 230);
  z-index: 10;
}

.food {
  height: 250px;
  width: 300px;
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.end {
  height: 250px;
  width: 300px;
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.text {
  position: absolute;
  font-size: 1.3rem;
  z-index: 3;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: normal;
}

/* apples */

.apples_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.apples_text {
  color: #c11216;
}

/* grapes */

.grapes_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.grapes_text {
  color: #b5ca03;
}

/* bananas */

.bananas_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.bananas_text {
  color: #fed41e;
}

/* peppers */

.peppers_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.peppers_text {
  color: #487801;
}

/* tomatoes */

.tomatoes_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.tomatoes_text {
  color: #fe1e10;
}

/* cucumbers */

.cucumbers_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.cucumbers_text {
  color: #5b892d;
}

/* corn */

.corn_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.corn_text {
  color: #fcd34f;
}

/* carrots */

.carrots_image {
  height: 250px;
  width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.carrots_text {
  color: #fea30b;
}

.end_text {
  z-index: 100;
  color: red;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0px;
  font-size: 4rem;
  opacity: 0;
}

/* Button code */

.btn {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  z-index: 100;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 15px;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#pause {
  left: 10px;
  top: 260px;
}
