@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

*[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
  border-bottom: 0 !important;
  cursor: default !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.background {
  height: 250px;
  width: 300px;
  position: relative;
  overflow: hidden;
  border: 1px solid #333;
  background-color: white;
}

.start {
  height: 250px;
  width: 300px;
  position: absolute;
  background-color: white;
}

.logo {
  position: absolute;
  height: 17px;
  z-index: 10;
}

.intro {
  position: absolute;
  color: rgb(100, 100, 100);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.car {
  position: absolute;
  width: 90%;
}

.left_wheel {
  position: absolute;
  width: 14.3%;
  opacity: 1;
}

.right_wheel {
  position: absolute;
  width: 14.9%;
  opacity: 1;
}

.tagLine {
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
  top: 17px;
  left: 15px;
  position: absolute;
  line-height: 1rem;
}

.ready {
  color: rgb(100, 100, 100);
  left: 36px;
  top: 195px;
  position: absolute;
  font-size: 1.6rem;
}

.cta {
  height: 45px;
  position: absolute;
  top: 190px;
  left: 83px;
  opacity: 0;
}

.website {
  font-size: 0.8rem;
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(100, 100, 100);
}

.details {
  background-color: rgb(100, 100, 100);
  color: white;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 60px;
  padding: 10px 15px;
  opacity: 0;
}

/* Button code */

.btn {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  z-index: 100;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 15px;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#pause {
  left: 10px;
  top: 260px;
}
